/*Color Pallet used: http://paletton.com/#uid=33v0u0kkq++7D+WeP+ZpR+Ww9ZI */
body {
  background-color: #FFE089;
  color: #333333;
  margin-left: auto;
  margin-right: auto;

}

h1{
color: #0F9EFB;
padding-top: 22px;
text-align: center;
font-size: 42px;
font-family: 'Oxygen';
}

/*Navbar as a whole*/
.navbar {
  background-color: #66c2ff;
  border-color: #4db8ff;
  border-style: solid;
  border-width: medium;
  box-shadow: 0px 0px 20px #004d80;
}

/*Links only*/
.navbar a {
  color: #000000;
  padding: 10px 32px;
  font-family: 'Anton';
  font-weight: bold;
}
/*Bc is the color when hovered over set color is the text color*/
.navbar a:hover {
  background-color: #ffffff;
  color: black;
  border-radius: 1em;
}

/*For the smaller devices*/
.navbar-menu.menu-shown {
      background-color: #66c2ff;
    }

    .menu-toggle {
      color: #000000;
    }

    .menu-dismiss {
      color: #0000;
    }

    .menu-shown a:link,
    .menu-shown a:visited {
      color: #000000;
      font-family: 'Anton';
      font-weight: bold;

    }

    .menu-shown a:active,
    .menu-shown a:hover {
      background-color: #ffffff;
      color: black;
      border-radius: 1em;
    }


.Left-Third {
  border-radius: 1em;
  padding: 10px;
  background-color: #FF865C;
  box-shadow: 0px 4px 6px #333;
}

.Middle-Third {
  padding: 10px;
  border-radius: 1em;
  background-color: #FF865C;
  box-shadow: 0px 4px 6px #333;
}

.Right-Third {
  border-radius: 1em;
  padding: 10px;
  background-color: #FF865C;
  box-shadow: 0px 4px 6px #333;
}
.middle_row {
  border-radius: 1em;
  padding: 10px;
  background-color: #FF865C;
  box-shadow: 0px 4px 6px #333;
}

.middle_row_JtP {
  border-radius: 1em;
  padding: 10px;
  margin-top: 20px;
  background-color: #FF865C;
  box-shadow: 0px 4px 6px #333;
}

h2{
  color: #90D3FF;
  text-shadow: 0px 2px 10px #000000;
  text-align: center;
  font-size: 36px;
  font-family: 'Fjalla One';
}

h3{
  color: #0F9EFB;
  text-shadow: 0px 2px 10px #ffffff;
  text-align: center;
  font-size: 24px;
  font-family: 'Anton';
}

p{
text-align: center;
padding-left: 10px;
padding-right: 10px;
font-family: 'Chakra Petch';
}
img{
  max-width: 100%;
  margin-bottom: 5px;
}
img.center {
  display:block;
  margin-left: auto;
  margin-right: auto;
  padding-bottom: 2px;
}
